In [ ]:
#import pandas as pd

In [1]:
import pandas as pd

In [ ]:
#import csv

In [2]:
df = pd.read_csv('CricketTestMatchData.csv')

In [3]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [ ]:
#rename multiple coulmns in a list

In [4]:
df = df.rename(columns = {'Mat':'Matches', 'NO':'Not_Outs', 'HS':'Highest_Inns_score', 'BF':'Balls_Faced', 'SR':'Batting_Strike_Rate'})

In [5]:
df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1

In [ ]:
#check null values

In [6]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate     True
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [8]:
df[df['Balls_Faced'].isna()==1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
18,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11

In [9]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [10]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].fillna(0)

In [12]:
df[df['Player']=='CL Walcott (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
18,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0,15,14,1,107+,11

In [ ]:
#drop duplicates

In [13]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
61    False
62    False
63    False
64    False
65    False
Length: 66, dtype: bool

In [14]:
df[df['Player'].duplicated()==1]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
13,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7

In [15]:
df[df['Player'].isin(['GA Headley (WI)','GS Sobers (WI)','JB Hobbs (ENG)','TT Samaraweera (SL)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
13,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
58,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7

In [17]:
df = df.drop_duplicates()

In [18]:
df[df['Player'].isin(['GA Headley (WI)','GS Sobers (WI)','JB Hobbs (ENG)','TT Samaraweera (SL)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
58,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7

In [ ]:
#split up span into start and end date

In [20]:
df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2022, 2025]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
61    [1965, 1981]
62    [2002, 2014]
63    [1924, 1934]
64    [1930, 1938]
65    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [23]:
df['Span'].str.split(pat = '-').str[1]

0     1948
1     2025
2     2016
3     1970
4     1954
      ...
61    1981
62    2014
63    1934
64    1938
65    1934
Name: Span, Length: 62, dtype: object

In [24]:
df['Rookie_Year'] = df['Span'].str.split(pat = '-').str[0]

In [25]:
df['Final_Year'] = df['Span'].str.split(pat = '-').str[1]

In [26]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948
1,PHKD Mendis (SL),2022-2025,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [ ]:
#drop span columns

In [28]:
df = df.drop(['Span'], axis = 1)

In [29]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948
1,PHKD Mendis (SL),12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954

In [ ]:
#split up the country from the player

In [30]:
df['Player'].str.split(pat = '(')

0      [DG Bradman , AUS)]
1      [PHKD Mendis , SL)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
61     [KD Walters , AUS)]
62    [GC Smith , ICC/SA)]
63    [WH Ponsford , AUS)]
64      [SJ McCabe , AUS)]
65     [DR Jardine , ENG)]
Name: Player, Length: 62, dtype: object

In [31]:
df['Country'] = df['Player'].str.split(pat = '(').str[1]

In [34]:
df['Country'] = df['Country'].str.split(pat = ')').str[0]

In [35]:
df['Country']

0        AUS
1         SL
2        AUS
3         SA
4         WI
       ...
61       AUS
62    ICC/SA
63       AUS
64       AUS
65       ENG
Name: Country, Length: 62, dtype: object

In [37]:
df['Player'] = df['Player'].str.split(pat = '(').str[0]

In [38]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS
1,PHKD Mendis,12,21,2,1184,182*,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56,10,5,2,104+,1,1930,1954,WI

In [ ]:
#change data types

In [40]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate     object
100                      int64
50                       int64
0                       object
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [42]:
df['Highest_Inns_score'].str.split(pat = '*').str[0]

0     334
1     182
2     269
3     274
4     270
     ...
61    250
62    277
63    266
64    232
65    127
Name: Highest_Inns_score, Length: 62, dtype: object

In [43]:
df['Highest_Inns_score'] = df['Highest_Inns_score'].str.split(pat = '*').str[0]

In [44]:
df['Highest_Inns_score']

0     334
1     182
2     269
3     274
4     270
     ...
61    250
62    277
63    266
64    232
65    127
Name: Highest_Inns_score, Length: 62, dtype: object

In [46]:
df['Highest_Inns_score'] = df['Highest_Inns_score'].astype('int')

In [47]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_score       int32
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate     object
100                      int64
50                       int64
0                       object
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [48]:
df = df.astype({'Rookie_Year':'int', 'Final_Year':'int'})

In [49]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_score       int32
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate     object
100                      int64
50                       int64
0                       object
4s                      object
6s                      object
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [50]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.6,29,13,7,626+,6,1928,1948,AUS
1,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416+,56,10,5,2,104+,1,1930,1954,WI

In [51]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat = '+').str[0]

In [53]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [54]:
df[df['Balls_Faced'].isna()==1]

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
9,ED Weekes,48,81,5,4455,207,58.61,NaN,0,15,19,6,258+,2,1948,1958,WI
18,CL Walcott,44,74,7,3798,220,56.68,NaN,0,15,14,1,107+,11,1948,1960,WI

In [55]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [56]:
df[df['Balls_Faced'].isna()==1]

Empty DataFrame
Columns: [Player, Matches, Inns, Not_Outs, Runs, Highest_Inns_score, Ave, Balls_Faced, Batting_Strike_Rate, 100, 50, 0, 4s, 6s, Rookie_Year, Final_Year, Country]
Index: []

In [59]:
pd.set_option('display.max_rows', None)

In [60]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626+,6,1928,1948,AUS
1,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56,10,5,2,104+,1,1930,1954,WI
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG
9,ED Weekes,48,81,5,4455,207,58.61,0,0,15,19,6,258+,2,1948,1958,WI
10,HC Brook,24,40,1,2281,317,58.48,2581,88.37,8,10,2,246,37,2022,2024,ENG
11,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI
14,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
15,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG
17,SPD Smith,116,206,25,10271,239,56.74,19176,53.56,36,41,11,1116,61,2010,2025,AUS
18,CL Walcott,44,74,7,3798,220,56.68,0,0,15,14,1,107+,11,1948,1960,WI
19,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG
20,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
21,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG
22,KS Williamson,105,186,17,9276,251,54.88,17913,51.78,33,37,11,1031,27,2010,2024,NZ
23,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI
24,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
25,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
26,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA
27,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND
28,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
29,YBK Jaiswal,19,36,2,1798,214,52.88,2738,65.66,4,10,3,207,39,2023,2025,IND
30,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK
31,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
32,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
33,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
34,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
35,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS
36,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
37,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
38,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
39,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND
40,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
41,JE Root,152,278,23,12972,262,50.87,22568,57.47,36,65,13,1394,45,2012,2024,ENG
42,ML Hayden,103,184,14,8625,380,50.73,14349,60.1,30,29,14,1049,82,1994,2009,AUS
43,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
44,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
45,Saud Shakeel,19,36,3,1658,208,50.24,3345,49.56,4,9,2,165,2,2022,2025,PAK
46,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI
47,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG
48,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
49,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
50,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI
51,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG
52,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
53,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA
57,Hon.FS Jackson,20,33,4,1415,144,48.79,-,-,5,6,3,51+,0,1893,1905,ENG
58,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
60,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS
61,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS
62,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
63,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS
64,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS
65,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG

In [ ]:
#remove FS Jackson Row

In [61]:
df = df.drop(57, axis = 0)

In [62]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.6,29,13,7,626+,6,1928,1948,AUS
1,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56,10,5,2,104+,1,1930,1954,WI
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG
9,ED Weekes,48,81,5,4455,207,58.61,0,0,15,19,6,258+,2,1948,1958,WI
10,HC Brook,24,40,1,2281,317,58.48,2581,88.37,8,10,2,246,37,2022,2024,ENG
11,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI
14,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
15,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG
17,SPD Smith,116,206,25,10271,239,56.74,19176,53.56,36,41,11,1116,61,2010,2025,AUS
18,CL Walcott,44,74,7,3798,220,56.68,0,0,15,14,1,107+,11,1948,1960,WI
19,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG
20,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
21,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG
22,KS Williamson,105,186,17,9276,251,54.88,17913,51.78,33,37,11,1031,27,2010,2024,NZ
23,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI
24,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
25,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
26,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA
27,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND
28,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
29,YBK Jaiswal,19,36,2,1798,214,52.88,2738,65.66,4,10,3,207,39,2023,2025,IND
30,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK
31,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
32,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
33,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
34,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
35,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS
36,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
37,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
38,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
39,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND
40,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
41,JE Root,152,278,23,12972,262,50.87,22568,57.47,36,65,13,1394,45,2012,2024,ENG
42,ML Hayden,103,184,14,8625,380,50.73,14349,60.1,30,29,14,1049,82,1994,2009,AUS
43,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
44,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
45,Saud Shakeel,19,36,3,1658,208,50.24,3345,49.56,4,9,2,165,2,2022,2025,PAK
46,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI
47,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG
48,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
49,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
50,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI
51,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG
52,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
53,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA
58,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
60,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS
61,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS
62,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
63,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS
64,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS
65,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG

In [63]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
Not_Outs               False
Runs                   False
Highest_Inns_score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [64]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_score       int32
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate     object
100                      int64
50                       int64
0                       object
4s                      object
6s                      object
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [65]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')

In [66]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].astype('float')

In [67]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Outs                 int64
Runs                     int64
Highest_Inns_score       int32
Ave                    float64
Balls_Faced              int32
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                      object
6s                      object
Rookie_Year              int32
Final_Year               int32
Country                 object
dtype: object

In [68]:
df['Career_Length'] = df['Final_Year'] - df['Rookie_Year']

In [69]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Career_Length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS,20
1,PHKD Mendis,12,21,2,1184,182,62.31,1839,64.38,5,4,-,123,23,2022,2025,SL,3
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI,24
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG,11
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG,8
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG,13
9,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258+,2,1948,1958,WI,10
10,HC Brook,24,40,1,2281,317,58.48,2581,88.37,8,10,2,246,37,2022,2024,ENG,2
11,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG,20
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI,20
14,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
15,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG,22
17,SPD Smith,116,206,25,10271,239,56.74,19176,53.56,36,41,11,1116,61,2010,2025,AUS,15
18,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11,1948,1960,WI,12
19,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG,18
20,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
21,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG,8
22,KS Williamson,105,186,17,9276,251,54.88,17913,51.78,33,37,11,1031,27,2010,2024,NZ,14
23,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI,5
24,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
25,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
26,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA,16
27,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND,24
28,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
29,YBK Jaiswal,19,36,2,1798,214,52.88,2738,65.66,4,10,3,207,39,2023,2025,IND,2
30,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK,17
31,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
32,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
33,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
34,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
35,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS,9
36,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
37,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
38,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
39,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND,16
40,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
41,JE Root,152,278,23,12972,262,50.87,22568,57.47,36,65,13,1394,45,2012,2024,ENG,12
42,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
43,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
44,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
45,Saud Shakeel,19,36,3,1658,208,50.24,3345,49.56,4,9,2,165,2,2022,2025,PAK,3
46,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI,17
47,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG,20
48,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
49,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
50,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI,15
51,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG,17
52,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
53,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA,5
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA,20
58,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
60,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS,15
61,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS,16
62,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
63,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS,10
64,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS,8
65,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG,6

In [ ]:
#calculations

In [ ]:
#cricketers in this df what is the average career length

In [70]:
df['Career_Length'].mean()

12.98360655737705

In [ ]:
#avg batting strike rate for cricketers who played over 10 years

In [72]:
df[df['Career_Length'] > 10]['Batting_Strike_Rate'].mean()

48.93999999999999

In [ ]:
#find the number of cricketers who played before 1960

In [76]:
df[df['Rookie_Year'] < 1960]['Player'].count()

22

In [ ]:
#max highest inns score by country

In [79]:
df.groupby('Country')['Highest_Inns_score'].max().to_frame('HighInnsCountry').reset_index().sort_values('HighInnsCountry', ascending = False)

    Country  HighInnsCountry
5    ICC/WI              400
0       AUS              380
10       SL              374
11       WI              365
1       ENG              364
3   ICC/PAK              329
2   ICC/IND              319
8       PAK              313
9        SA              278
4    ICC/SA              277
7        NZ              251
6       IND              248
12      ZIM              232

In [ ]:
#hundreds, fifties, ducks (0) avg by country

In [95]:
df['0'].replace('-', '0').astype(int)

0      7
1      0
2      2
3      1
4      2
6      2
7      3
8      5
9      6
10     2
11     4
12    12
14    11
15     4
17    11
18     1
19     5
20    16
21     2
22    11
23     1
24     3
25    12
26     3
27    14
28    17
29     3
30     6
31     8
32    11
33    19
34    17
35     1
36     5
37    12
38    15
39    12
40    22
41    13
42    14
43     8
44    11
45     2
46    10
47    10
48    15
49    15
50    11
51     3
52    16
53     2
54     9
55     2
56     3
58    11
60     7
61     4
62    11
63     1
64     4
65     2
Name: 0, dtype: int32

In [96]:
df['0'] = df['0'].replace('-', '0').astype(float)

In [97]:
df.groupby('Country')[['100', '50', '0']].mean()

               100         50          0
Country
AUS      21.533333  28.933333   8.933333
ENG      13.750000  22.666667   4.583333
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      23.250000  31.500000   8.000000
NZ       33.000000  37.000000  11.000000
PAK      17.800000  24.200000   8.000000
SA        9.800000  20.200000   3.400000
SL       22.750000  34.000000   9.250000
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000